<html>
  <head>
    <title>Hello, Rails!</title>
  </head>
    <body>
      <h1>Hello from Rails</h1>
      <p>
        It is now <%= @time %>
      </p>
      <p>
        Say <a href="/say/goodbye">Goodbye</a>!
      </p>
      <p>
	  Time to say
	  <%= link_to "Goodbye", say_goodbye_path %>!
      </p>
      <p>
       Tambah-tambahan: <%= @tambah%>
      </p>
    </body>
</html>
