<h1>New Articles</h1>
<%= flash[:error] %>
<% if @article.errors.any? %>
    <% for message in @article.errors.full_messages %>
        <li><%= message %></li>
    <% end %>
<% end %>
  <%= form_for @article do |a| %>
  <table>
    <tr>
      <td><%= a.label :title %></td>
      <td>:</td>
      <td><%= a.text_field :title %></td>
    </tr>
    <tr>
      <td><%= a.label :content %></td>
      <td>:</td>
      <td><%= a.text_area :content %></td>
    </tr>
    <tr>
      <td><%= a.label :user_id, "User_id"%></td>
      <td>:</td>
      <td><%= a.text_field :user_id %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><%= a.submit %></td>
    </tr>
  </table>
<% end %>
