<!--<h1><%= @article.title %></h1>
<p><%= @article.content %></p>-->

<p id="notice"><%= notice %></p>
 
<p>
  <b>id:</b>
  <%= @article.id %>
</p>
 
<p>
  <b>Title:</b>
  <%= @article.title %>
</p>
 
<p>
  <b>Content:</b>
  <%= @article.content %>
</p>
 
<h2>Comments</h2>
<div id="comments">
  <%= render :partial => "comments", :locals => {:comments => @comments}  %>
</div><br />
 
<h2>Add a comment:</h2>
<%= form_for @comment, :url => comments_path, :remote => true do |f| %>
    <%= f.hidden_field :article_id, :value => @article.id %><br />
  <div class="field">
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Edit Post', edit_admin_article_path(@article) %> |
<%= link_to 'Back to Article', admin_articles_path %>

