<h1>List Articles</h1>
<%= flash[:notice] %>
<%= flash[:error] %>
  <table>
    <tr>
      <td>Id Article</td>
      <td>Title</td>
      <td>User_id</td>
      <td>Action</td>
    </tr>
      <% @article = Article.all %>
      <% @article.each do |temp|%>
        <tr>     
          <td><%= temp.id %></td>
          <td><%= temp.title %></td>
          <td><%= temp.user_id %></td>
          <td>
            <%= link_to "Edit", edit_article_path(temp.id) %>
          </td>
          <td>
            <%= link_to "Show", article_path(temp.id), :method => :get %>
          </td>
          <td>
            <%= link_to "Delete", article_path(temp.id), :method => :delete %>
          </td>
        </tr>
      <% end %>
  </table>
<%= link_to "Make new", new_article_path %>
