<h1>Sign Up</h1>
<%= flash[:error] %>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
     <h2>Form is invalid</h2>
     <ul>
       <% @user.errors.full_messages.each do |message|%>
         <li><%= message %></li>
       <% end %>
     </ul>
   <% end %>
  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td>:</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :address %></td>
      <td>:</td>
      <td><%= f.text_area :address %></td>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td>:</td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td><%= f.label :password %></td>
      <td>:</td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td><%= f.label :password_confirmation %></td>
      <td>:</td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><%= recaptcha_tags %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>
