<!DOCTYPE html>
<html>
<head>
  <title>
  Demo
  </title>
  <%#= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= raw(welcome_text) %>

<%= yield %>

</body>
</html>
